{% extends 'authapp/base.html' %}
{% load staticfiles %}

{% block content %}
  {% if register == 'success' %}
    <h2> 
      На Ваш почтовый ящик было направлено письмо с кодом подтверждения
    </h2>
  {% else %}
    <form class="form-horizontal" action="{% url 'authapp:register' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ register_form.as_p }}
      <br>
      <input class="form-control" type="submit" value="зарегистрироваться">
    </form>
  {% endif %}
{% endblock %}
