{% extends 'authapp/base.html' %}
{% load staticfiles %}

{% block content %}
  <table class="table">
    <tr>
      <th>
        Пользователь
      </th>
      <th>
        Изменить
      </th>
      <th>
        Удалить
      </th>
    </tr>
    {% for user in users %}
      <tr>
      <td>
        <a href="{% url 'myadmin:user' pk=user.pk %}">{{user.username}}</a>
      </td>
      <td>
        <a href="{% url 'myadmin:user_update' pk=user.pk %}"> Изменить </a>
      </td>
      <td>
        <a href="{% url 'myadmin:user_delete' pk=user.pk %}"> Удалить </a>
      </td>
    </tr>
    {% endfor %}
  </table>
  <a href="{% url 'myadmin:create_user' %}"> Добавить </a>
{% endblock %}