/*
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
	
    1. Theme Default CSS (body, link color, section etc)
    2. HEADER-AREA
      2.1  Header-Middle
      2.2  Mainmenu-Area 
      2.2  Mainmenu-DropDown 
    3.  Categories Menu 
    4. Hot-Deals
    5. Bestseller-Area
    6. Product-Area
    7. Brand-Logo
    8. Footer-Area
    9. Product Modal

-----------------------------------------------------------------------------------*/

/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
html, body {height: 100%;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {outline:0px solid}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 10px;}
h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-family: 'Raleway', sans-serif;
  margin: 0 0 10px;
}
hr {
  margin: 20px 0;
}
sup {
  color: #f00;
  font-size: 16px;
  font-weight: bold;
  top: -0.2em;
}
a {
  color: #23a1d1;
  font-family: 'Raleway', sans-serif;
  transition: all 0.3s ease 0s;
  text-decoration:none;
}
a:hover {
  color: #23527c;
  text-decoration: none;
}
a:active, a:hover, a:focus {
  outline: 0 none;
  text-decoration: none;
}
ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.clear{clear:both}
button {
  background: transparent none repeat scroll 0 0;
  border: medium none;
}
body {
  background: #fff none repeat scroll 0 0;
  color: #7e7e7e;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}
.gfont-1 {font-family: 'Raleway', sans-serif;}
.gfont-2 {font-family: 'Roboto', sans-serif;}
.zero {margin: 0;padding: 0;}
.right-5 {margin-right: 5px;}
.left-5 {margin-left: 5px;}
.btn {border-radius: 0;}
.btn-primary {
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
  border-color: #1f90bb #1f90bb #145e7a;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
}
.btn.btn-primary:hover {
  background: #ED7987;
  background-image: none;
  border-color: #ED7987;
}
label {
  font-size: 12px;
  font-weight: normal;
}
optgroup {
  font-weight: normal;
}
i.fa.fa-shopping-cart {
  padding: 0 3px;
}
.fa {
  font-size: 14px;
}
/* ===========================
2. HEADER-AREA
============================ */

/*----------------------------------------*/
/*  2.1  Header-Middle
/*----------------------------------------*/
.header-middle {
  margin: 35px 0;
}
.support-client {
  display: block;
  margin-bottom: 40px;
  min-height: 35px;
}
.single-support {
  margin-left: 10px;
}
.single-support i {
  color: #898989;
  float: left;
  font-size: 30px;
}
.support-text {
  margin-left: 45px;
}
.support-text h1 {
  color: #7e7e7e;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}
.support-text p {
  line-height: 12px;
  margin: 0;
}
.quick-access {
  display: inline-block;
}
.quick-access .search-by-category {
  border: 2px solid #bebebe;
  float: left;
  margin-right: 10px;
  position: relative;
}
.search-container {
  float: left;
  position: relative;
}
.search-container::after {
  border-left: 6px solid hsla(0, 0%, 0%, 0);
  border-right: 6px solid hsla(0, 0%, 0%, 0);
  border-top: 6px solid;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  right: 15px;
  top: 23px;
  width: 0;
  z-index: -1;
}
.search-container select {
  appearance:none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: medium none;
  background: transparent;
  color: #7e7e7e;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  height: 48px;
  padding: 0 22px 0 10px;
  text-transform: capitalize;
  width: 185px;
}
.search-container select option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 13px;
  text-overflow:ellipsis;
  clear:both;
}
.all-cate, .cate-item-head {
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 0 10px;
}
.header-search {
  float: left;
}
.search-by-category .header-search input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #444;
  font-weight: 500;
  height: 48px;
  line-height: 26px;
  padding: 10px 65px 10px 15px;
  width: 430px;
  border-left: 2px solid #ddd;
  position: relative;
}
.header-middle button {
  background: #26acce none repeat scroll 0 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  height: 52px;
  line-height: 50px;
  position: absolute;
  right: -2px;
  top: -2px;
  transition: all 0.3s ease 0s;
  width: 55px;
}
.header-middle button:hover {
  background: #ed7987 none repeat scroll 0 0;
}
.top-cart {
    float: right;
}
.top-cart ul li {
    float: left;
    position: relative;
}
.top-cart ul li a {
    display: block;
}
.top-cart ul li a span i {
  background: #26acce none repeat scroll 0 0;
  color: #fff;
  float: left;
  font-size: 16px;
  height: 51px;
  line-height: 51px;
  text-align: center;
  width: 50px;
  margin: 0 5px 0 0;
}
.top-cart ul li a:hover i {
  background: #ed7987 none repeat scroll 0 0;
}
.top-cart .cart-total {
  color: #929292;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
  min-width: 160px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}
.top-cart span.cart-title {
  color: #929292;
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.top-cart span.cart-item {
  color: #929292;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.top-cart span.top-cart-price {
  color: #e95668;
  font-size: 15px;
  margin-right: 0;
  white-space: nowrap !important;
}
/* Top-Cart */
.top-cart ul li .mini-cart-content {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  opacity: 0;
  padding: 15px 0 0;
  position: absolute;
  right: 0;
  top: 100%;
  transform: scaleY(0);
  transform-origin: 0 0 0;
  transition: all 0.5s ease 0s;
  width: 280px;
  z-index: 9999999 !important;
}
.top-cart ul li .mini-cart-content {
  overflow-y: auto;
}
.top-cart ul li:hover .mini-cart-content {
  opacity: 1;
  transform: scale(1);
  z-index: 9999;
}
.top-cart ul li .mini-cart-content .cart-img-details {
  border-bottom: 0 none;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 12px 12px 0;
  position: relative;
}
.top-cart ul li .mini-cart-content .cart-img-details .cart-img-photo {
  border: 1px solid #ddd;
  float: left;
  margin: 0 15px 0 0;
  min-height: 100px;
  padding: 4px;
  width: 80px;
}
.top-cart ul li .mini-cart-content .cart-img-details .cart-img-photo img {
  margin-top: 10px;
}
.top-cart ul li .mini-cart-content .cart-img-details .cart-img-content {
  line-height: 1;
}
.top-cart ul li .mini-cart-content .cart-img-details .cart-img-content h4 {
  color: #636363;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin: 0 0 5px;
  text-align: left;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.top-cart ul li .mini-cart-content .cart-img-details .cart-img-content h4:hover {
  color: #26ACCE;
}
.cart-price {
  color: #26acce;
  font-size: 16px;
}
.top-cart ul li .mini-cart-content .cart-img-details .cart-img-content span {
  color: #6f6f6f;
  font-weight: 600;
  text-align: left;
}
.pro-del {
  float: right;
  line-height: 1;
  position: absolute;
  right: 15px;
  top: 10px;
}
.pro-del a i {
  color: #909295;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}
.pro-del a i:hover {
  color: #fff;
}
.cart-inner-bottom {
  padding: 0 15px;
}
.total {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  color: #333;
  float: left;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  margin: 10px 0 0;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}
.total span {
  color: #26acce;
  float: right;
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
}
.cart-button-top {
  display: inline-block;
  margin: 15px 0;
}
.mini-cart-content .cart-button-top a {
  background: #666 none repeat scroll 0 0;
  border: 1px solid #e5e5e5;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin: 5px 7px;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.mini-cart-content .cart-button-top a:hover {
  background: #26ACCE;
}
/*----------------------------------------*/
/*  2.2  Mainmenu-Area 
/*----------------------------------------*/
.mainmenu-area {
  background: #474747 none repeat scroll 0 0;
}
.mainmenu { display:flex justify-content:space-around }
.mainmenu ul {display: inline-block;}
.mainmenu ul li {
  display: inline-block;
  padding: 20px 0;
  position: relative;
}
.mainmenu ul li a {
  border-right: 1px solid #606060;
  color: #fff;
  font-size: 14px;
  padding: 3px 15px;
  position: relative;
}
.mainmenu ul li:last-child a {
  border-right: 0 none;
}
.mainmenu ul li.active a {color: #26acca;}
.mainmenu ul li:hover a {
  color: #26acca;
}
.mainmenu ul li.hot a::before {
  background: #e95668 none repeat scroll 0 0;
  content: "HOT";
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  padding: 0 12px;
  position: absolute;
  right: -12px;
  top: -30px;
  width: 55px;
  transition: all 0.3s ease-out 0s;
}
.mainmenu ul li.hot a::after {
  border: 6px solid transparent;
  content: "";
  height: 12px;
  position: absolute;
  top: -14px;
  width: 14px;
  border-top-color: #e95668 !important;
  right: 22px;
  transition: all 0.3s ease-out 0s;
}
.mainmenu ul li.hot:hover a::before {top: -38px;} 
.mainmenu ul li.hot:hover a::after {top: -22px;}
.mainmenu ul li.new a::before {
  background: #A8D255 none repeat scroll 0 0;
  content: "NEW";
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  padding: 0 12px;
  position: absolute;
  right: -12px;
  top: -30px;
  width: 55px;
  transition: all 0.3s ease-out 0s;
}
.mainmenu ul li.new a::after {
  border: 6px solid transparent;
  content: "";
  height: 12px;
  position: absolute;
  top: -14px;
  width: 14px;
  border-top-color: #A8D255 !important;
  right: 22px;
  transition: all 0.3s ease-out 0s;
}
.mainmenu ul li.new:hover a::before {top: -38px;} 
.mainmenu ul li.new:hover a::after {top: -22px;}

.leftlist {
  float: left;
}

.rightlist {
  float: right;
  text-align: right;
}
/*----------------------------------------*/
/*  2.3  Mainmenu-Dropdown 
/*----------------------------------------*/
.mainmenu ul li ul {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e8e8e9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: absolute;
  width: 205px;
  z-index: -99;
}
.mainmenu ul li ul {
  left: 0;
  top: 100%;
  transform: scaleY(0);
  transform-origin: 0 0 0;
  transition: all 0.5s ease 0s;
}
.mainmenu ul li:hover ul {
  opacity: 1;
  transform: scaleY(1);
  z-index: 9999;
}
.mainmenu ul li ul li {
  padding: 0;
  width: 100%;
}
.mainmenu ul li ul li a {
  border-right: 0 none;
  color: #909295;
  display: block;
  font-size: 13px;
  font-weight: normal;
  padding: 8px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
}
.mainmenu ul li:hover ul li a{color:#444;}
.mainmenu ul li:hover ul li a:hover{color:#26acca;margin-left:5px}
 
/*----------------------------------------*/
/*  3.  Categories Menu  
/*----------------------------------------*/
.category-heading {
    overflow: hidden;
}

.category-heading h2 {
  background: #26acce none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 45px;
    margin: 0;
    overflow: hidden;
    padding: 5px 20px;
    position: relative;
    text-transform: uppercase;
}

.left-category-menu > .left-product-cat > .category-heading > h2 {
  background: #26acce none repeat scroll 0 0;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 45px;
  margin: 0;
  overflow: hidden;
  padding: 5px 20px;
  position: relative;
  text-transform: uppercase;
}

.category-menu-list {
  width: 100%;
  z-index: 1000;
}
.category-menu-list ul {
  border-color: #eee;
  border-style: solid;
  border-width: 1px;
  list-style: outside none none;
  padding: 0;
}
.category-menu-list > ul > li {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eee;
  padding: 3px 0;
  position: relative;
}
.category-menu-list ul li:last-child {
    border-bottom: 0px solid #FF6E6E;
}
.category-menu-list ul li a {
  color: #6d6d6d;
  display: block;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  overflow: hidden;
  padding: 0 15px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
}
.left-category-menu-2 .category-menu-list a {
  line-height: 41px;
}
.category-menu-list ul li.active a {
  color: #26acce;
}
.category-menu-list ul li a:hover {color: #26ACCE;}
.category-menu-list ul li .cat-left-drop-menu {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  border: 1px solid #eee;
  box-shadow: 0 0 5px -1px #666;
  left: 100%;
  opacity: 0;
  overflow: hidden;
  padding: 25px 20px 20px;
  position: absolute;
  text-align: left;
  top: 0;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 655px;
  z-index: 999999999;
}
.category-menu-list ul li .drop-down-single {
    width: 260px;
    padding: 10px;
}
.category-menu-list ul li .cat-left-drop-menu-left {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 23%;
}
.category-menu-list ul li .drop-down-single .cat-left-drop-menu-left {
    width: 100%
}
.category-menu-list ul li .cat-left-drop-menu-left ul {
  border: medium none;
  margin-bottom: 15px;
}
.category-menu-list ul li .cat-left-drop-menu-left ul li {
  border: none;
}
.category-menu-list ul li:hover .cat-left-drop-menu {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}
.category-menu-list ul li .cat-left-drop-menu-left ul li a {
  display: block;
  padding: 0;
  background: none;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 35px;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  position: relative;
}
.category-menu-list ul li .cat-left-drop-menu-left ul li a:hover {
    color: #26ACCE;
}

.category-menu-list ul li a.menu-item-heading {
  background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
  border-bottom: 1px solid #ccc;
  color: #111;
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
  padding-bottom: 5px;
  padding-left: 0;
  position: relative;
}
.category-menu-list ul li a.menu-item-heading:hover {
  background: none;
  color: #26ACCE;
}

.category-menu-list ul li .cat-left-drop-menu-single ul li:hover {
  background: #fff;
}
.category-menu-list ul li:hover .cat-left-drop-menu-single {
  display: block;
}
.rx-parent {
  cursor: pointer;
}
.category-menu-list ul li span.fa {
  float: right;
  padding-top: 15px;
}
.rx-child,
.category-menu-list ul li a.rx-show {
  display: none;
}
.category-menu-list ul li.rx-change a.rx-show {
  display: block;
}
.category-menu-list ul li.rx-change a.rx-default {
  display: none;
}
.left-product-cat {
  position: relative;
}
.category-menu-list > ul > li.rx-parent {
  background: #fff none repeat scroll 0 0;
}
.category-menu-list ul li.rx-parent a:hover {
  color: #26acce;
}
.padding-for-menu-slider {
  margin: 30px 0px
}
.category-menu-list ul li,
.category-menu-list ul li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.category-menu-list ul li .drop-down-single.cat-dropdown-single {
  padding: 10px;
  width: 220px;
}
.category-menu-list ul li .cat-left-drop-menu-left.cat-dropdown {
  margin-left: 0;
  margin-right: 0;
}
.category-menu-list ul li .cat-left-drop-menu-left.cat-dropdown ul {
  margin-bottom: 0;
}
.category-menu-list ul li .cat-left-drop-menu-left.cat-dropdown ul li {
  border-bottom: 1px solid hsl(0, 0%, 93%);
  margin: 0 15px;
}
.category-menu-list ul li .cat-left-drop-menu-left.cat-dropdown ul li a {
  background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
  color: #111;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 40px;
  padding: 0;
  text-transform: capitalize;
}
.category-menu-list ul li .cat-left-drop-menu-left.cat-dropdown ul li:last-child {
  border-bottom: medium none;
}
.category-menu-list ul li .cat-left-drop-menu-left.cat-dropdown ul li a:hover {
  color: #26ACCE;
}
.category-menu-list ul li .cat-left-drop-menu.cat-left-drop-menu-photo-contain {
  width: 615px;
  padding-bottom: 5px;
}
.category-menu-list ul li .cat-left-drop-menu-left.cat-left-drop-menu-photo {
  width: 48%;
}

/*----------------------------------------*/
/*  4.  Hot-Deals 
/*----------------------------------------*/
.hot-deals-area {
  margin-top: 22px;
}
h3.title-group {
  border-bottom: 3px solid #26acce;
  color: #111;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;
}
h3.title-group.border-red {
  border-color: #ed7987;
}
.single-hot-deals {
  border: 1px solid #e3e3e3;
  margin: 20px 0 1px;
  overflow: hidden;
  text-align: center;
}
.hot-deals-photo a {
  display: block;
}
.count-down .timer {
  margin-bottom: 5px;
  overflow: hidden;
}
.cdown {
  float:left;
  width:25%;  
  border-right: 1px solid #FABDC5;
  background: #ed7987 none repeat scroll 0 0;color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 0;
  font-weight:bold;
  height: 55px;
  line-height: 25px;
  padding-top:3px;
}
.cdown p {
  margin:0;
  font-size:14px;
  font-weight:normal;
  color:#fff;
  text-transform: lowercase;
}
.hot-deals-text {
  padding: 15px;
  text-align: left;
}
a.name-group {
  color: #444;
  font-size: 14px;
  font-weight: 600;
}
a.name-group:hover {
  color: #e95668;
}
.price-box {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}
span.price {
  color: #e95668;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-right: 5px;
}
span.old-price {
  color: #ccc;
  font-size: 15px;
  font-weight: 400;
  text-decoration: line-through;
}
span.rating i {
  color: #f9af51;
  margin: 2px;
}
.carosel-circle .owl-pagination {
  bottom: 0;
  position: absolute;
  right: 30px;
}
.carosel-circle .owl-theme .owl-controls .owl-page span {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e5e5e5;
  border-radius: 100%;
  box-shadow: 0 2px 4px -1px #555 inset;
  display: block;
  height: 13px;
  margin: 5px;
  width: 13px;
}
.carosel-circle .owl-theme .owl-controls .owl-page.active span, .carosel-circle .owl-theme .owl-controls.clickable .owl-page:hover span {
  border-color: #aaa;
  box-shadow: 0 2px 7px -1px #555 inset;
}
/*----------------------------------------*/
/*  5. Bestseller-Area 
/*----------------------------------------*/
.carosel-navigation .owl-theme .owl-controls .owl-buttons div {
  background: rgba(71, 71, 71, 0.9) none repeat scroll 0 0;
  border-radius: 0;
  color: #fff;
  font-size: 20px;
  height: 40px;
  line-height: 35px;
  margin: -20px 0 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 50%;
  width: 40px;
  z-index: 1;
  transition: all 0.3s linear 0s;
}
.carosel-navigation .owl-theme .owl-controls {
  margin: 0;
}
.carosel-navigation .owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 20px;
}
.carosel-navigation:hover .owl-buttons div.owl-next {
  opacity: 1 !important;
  right: 0 !important;
}
.carosel-navigation:hover .owl-buttons div.owl-prev {
  opacity: 1 !important;
  left: 0 !important;
}
.carosel-navigation .owl-theme .owl-controls .owl-buttons div.owl-prev:hover,
.carosel-navigation .owl-theme .owl-controls .owl-buttons div.owl-next:hover {
  background: #26acce none repeat scroll 0 0;
}


/*----------------------------------------*/
/*  6. Product-Area 
/*----------------------------------------*/
.product-area:not(:first-of-type) {
  margin-top: 32px;
}
.product-menu {
  border-bottom: 3px solid #26acce;
  overflow: hidden;
  padding: 5px 0;
}
.product-menu.border-red {
  border-color: #ed7987;
}
.product-title {
  float: left;
}
.title-group-2 {
  color: #111;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}
.product-menu ul {
  display: inline-block;
  float: right;
}
.product-menu ul li {
  display: inline-block;
}
.product-menu ul li a {
	border-right: 1px solid #e2e2e2;
	color: #838383;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 12px;
	margin: 0;
	padding: 0 20px;
	text-transform: capitalize;
}
.product-menu ul li.active a {
  color: #26acce;
}
.product-menu ul li a:hover {
  color: #26acce;
}
.single-product {
  border: 1px solid #ddd;
  margin: 20px 0 1px;
  overflow: hidden;
  position: relative;
}
.product-img a{
	position:relative;
	display:block
}
.product-img a img.secondary-img{
	display: block;
	height: 0;
	left: 0;
	max-height: 100%;
	max-width: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: all 0.3s ease-in-out 0s;
	width: 100%;
}
.single-product:hover img.secondary-img{
	height: 100%;
	opacity: 1;
	transition: all 0.3s ease-in-out 0s;
	z-index: 0;
}
.product-description h5 a {
  color: #444;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
}
.product-description h5 a:hover {color: #e95668;}
.product-description {
	padding: 0 0 15px 15px;
	position: relative;
}
.product-action{
	background: #fff none repeat scroll 0 0;
	bottom: 0;
	left: 0;
	margin: auto;
	opacity: 0;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	transition: all 0.5s ease 0s;	
	padding: 0 0 25px;
	transform: scale(.8);
}
.single-product:hover  .product-action{
	bottom: 0px;
	opacity: 1;
  transform: scale(1);
}
.product-button button{
	background: #26acce none repeat scroll 0 0;
	border: 0 none;
	box-shadow: none;
	color: #fff;
	display: block;
	font-weight: 700;
	line-height: 30px;
	margin: 0 0 5px;
	padding: 5px;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
	width: 144px;
}
.product-button button:hover {
  background: #e95668 none repeat scroll 0 0;
}
.product-button-2{
	height: 40px;
	position: relative;
	width: 100%;
}
.product-button-2 a {
  background: #666 none repeat scroll 0 0;
  border: 0 none;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  line-height: 30px;
  padding: 5px 16px;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
}
.product-button-2 a:hover {
  background: #26acce none repeat scroll 0 0;
}
.button-group {
  display: inline-block;
  position: relative;
}
.label_new {
  left: 10px;
  position: absolute;
  top: 10px;
  z-index: 9;
}
.sale-percent, span.new {
  background: #e95668 none repeat scroll 0 0;
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 60px;
}
.sale-percent::after, span.new::after {
  border-color: #e95668 transparent;
  border-style: solid;
  border-width: 13px 10px 13px 0;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: -10px;
  top: 0;
  width: 10px;
}
.sale-off {
  left: 10px;
  position: absolute;
  top: 10px;
  z-index: 8;
}
.sale-percent {
  background: #26acce none repeat scroll 0 0;
}
.sale-percent::after {
  border-bottom-color: #26acce !important;
  border-top-color: #26acce !important;
}
.single-product:hover .sale-off, .item:hover .sale-off {
  z-index: 10;
}
.tooltip{background:transparent !important;}

/*----------------------------------------*/
/*  7. Brand-Logo
/*----------------------------------------*/
.single-brand-logo {
  padding: 43px 0;
  text-align: center;
}
.brand-logo-area h3.title-group {
  margin-top: 10px;
}
.brand-logo-area .col-md-2 {width: 100%;}
.brand-logo-area .area-title {
  margin-top: 25px;
}
.owl-theme .owl-controls {
  margin-top: 0;
}

/* =================================== */
/*  8. Footer-Area
/* =================================== */
.footer {
  background: #181818 none repeat scroll 0 0;
  padding: 50px 0 38px;
} 
.footer-title {border-bottom: 1px solid #303030;}
.footer-title h5 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  text-transform: uppercase;
}
ul.footer-content {
  margin-left: 15px;
  margin-top: 15px;
  padding-left: 0;
  margin-bottom: 10px;
}
ul.footer-content li {
  list-style: outside none disc;
  color: #808080;
}
ul.footer-content li a {
  color: #ddd;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 35px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
ul.footer-content li a:hover {color: #e95668;}
.footer-content.box-information {
  margin-left: 0;
}
ul.footer-content.box-information li {
  color: #ddd;
  list-style: outside none none;
  min-height: 40px;
}
ul.footer-content.box-information li i {
  color: #e95668;
  float: left;
  height: 30px;
  line-height: 30px;
  width: 25px;
}
ul.footer-content.box-information li a {
  color: #26acce;
}
.copyright-area {
  background: #111 none repeat scroll 0 0;
  padding: 20px 0 10px;
}
.copyright {} 
.copyright > p {
  color: #ddd;
  float: left;
  margin-right: 20px;
}
.payment {
  float: right;
}
#scrollUp {
  background: #e95668 url("img/icon/back-top.png") no-repeat scroll 0 0;
  bottom: 35px;
  height: 54px;
  right: 20px;
  text-indent: -99999px;
  transition: all 0.3s ease-in-out 0s;
  width: 54px;
}
#scrollUp:hover {
  background: #26acce url("img/icon/back-top.png") no-repeat scroll 0 -56px;
}
/*=========================== 
 9. Product Modal
============================= */   
.modal { z-index: 13000 }
#productModal .modal-dialog {
  margin: 5% auto;
  max-width: 96%;
  min-height: 300px;
  padding: 20px;
  -webkit-transition: all 0.5s ease 0s;
          transition: all 0.5s ease 0s;
  width: 870px;
}
#productModal .modal-header {
  border: 0 none;
  padding: 0;
  min-height: auto;
}
#productModal button.close {
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
  z-index: 2;
}
#productModal button.close:hover {
  opacity: 1;
}
#productModal button.close span {
  border: 1px solid #909295;
  border-radius: 60px;
  color: #909295;
  display: block;
  height: 30px;
  line-height: 25px;
  text-align: center;
  width: 30px;
  padding-top: 1px;
}
#quickview-wrapper .modal-content {
  border-radius: 0;
}
.modal-product { overflow: hidden }
.modal-product .product-images {
  float: left;
  width: 40%;
}
.modal-product .product-images .quick-thumbnails {
  float: left;
  width: 100%;
}
.modal-product .product-images .main-image {
  float: left;
  width: 100%;
}
.modal-product .product-images .main-image img { box-shadow: none }
.modal-product .product-info {
  float: left;
  padding-left: 30px;
  width: 60%;
}
.modal-product .product-info h1 {
  font-size: 22px;
  font-weight: normal;
  margin: 0 0 20px;
}
.s-price-box {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.modal-product .product-info .price-box {
  float: left;
  margin: 0 0 12px;
  width: 100%;
}
 .modal-product .product-info .price-box p { margin: 0 }
 .modal-product .product-info .price-box .special-price {
  color: #83cbdc ;
  font-family: "Raleway",sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.modal-product .product-info .see-all {
  color: #42414f;
  display: inline-block;
  margin-bottom: 35px;
  text-decoration: underline;
}
.numbers-row > input {
  float: left;
  height: 40px;
  text-align: center;
  width: 60px;
  border: none;
  border: 1px solid #ddd;
}
.quick-add-to-cart .single_add_to_cart_button {
  background: #26acce none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  float: left;
  font-weight: 700;
  height: 40px;
  margin-left: 15px;
  padding: 0 70px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.quick-add-to-cart .single_add_to_cart_button:hover{background:#e95668 none repeat scroll 0 0!important}
.modal-product .product-info .see-all:hover { color: #ff8787 }
h3.widget-title-modal{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #42414f;
  float: left;
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 5px;
  text-align: left;
  text-transform: none;
  width: 100%;
}
.widget-title-modal{}
.modal-product .product-info .quick-add-to-cart {
  border-bottom: 1px solid #e5e5e5;
  float: left;
  margin: 0 0 20px;
  padding: 0 0 38px;
  width: 100%;
}
.modal-product .product-info .quick-desc {
  border-bottom: 1px solid #e5e5e5;
  color: #909295;
  float: left;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 25px;
  padding: 0 0 15px;
  width: 100%;
}
.modal-product .widget {
  float: left;
  width: 100%;
}
.modal-product .widget .widget-title {
  background: none;
  color: #909295;
  float: left;
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 5px;
  text-align: left;
  text-transform: none;
  width: 100%;
}
.modal-product .widget .social-icons {
  float: left;
  margin: 0;
  padding: 0;
}
.modal-product .widget .social-icons li {
  float: left;
  line-height: 30px;
  list-style: none;
  margin-right: 10px;
}
.modal-product .widget .social-icons li .social-icon {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #909295;
  display: inline-block;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  width: 40px;
}
.modal-product .widget .social-icons li .social-icon:hover { color: #fff }
.modal-product .widget .social-icons li .social-icon.facebook:hover {
  background: #3B579D;
  border: 1px solid #3B579D;
}
.modal-product .widget .social-icons li .social-icon.twitter:hover {
  background: #3ACAFF;
  border: 1px solid #3ACAFF;
}
.modal-product .widget .social-icons li .social-icon.pinterest:hover {
  background: #CB2027;
  border: 1px solid #CB2027;
}
.modal-product .widget .social-icons li .social-icon.tumblr:hover {
  background: #304E6C;
  border: 1px solid #304E6C;
}
.modal-product .widget .social-icons li .social-icon.gplus:hover {
  background: #D11717;
  border: 1px solid #D11717;
}
.modal-product .widget .social-icons li .social-icon.linkedin:hover {
  background: #0097BD;
  border: 1px solid #0097BD;
}