<!-- START MAINMENU-AREA -->
<div class="mainmenu-area shop-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="mainmenu">
          <nav>
            <ul>
              {% if user.is_authenticated %}
                <li>
                  <a href="{% url 'authapp:edit' %}">{{ user.first_name|default:'Пользователь' }}</a>
                </li>
              {% endif %}
              <li><a href="{% url 'mainapp:index' %}">Главная</a></li>
              <li><a href="{% url 'mainapp:about' %}">О нас</a></li>
              <li><a href="{% url 'mainapp:contact' %}">Контакты</a></li>
              <li><a href="#">Другое</a>
                <ul>
                  <li><a href="{% url 'basketapp:basket' %}">Корзина</a></li>
                  <li><a href="{% url 'authapp:login' %}">Мой аккаунт</a></li>
                  <li><a href="{% url 'authapp:register' %}">Зарегистрироваться</a></li>
                </ul>
              </li>
              <li>
                {% if user.is_authenticated %}
                  <a href="{% url 'authapp:logout' %}">Выйти</a>
                {% else %}
                  <a href="{% url 'authapp:login' %}">Войти</a>
                {% endif %}
              </li>
              {% if user.is_superuser %}
                <li>
                  <a href="{% url 'myadmin:main' %}">Администрирование</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>