<div class="category-slider-area">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="left-category-menu hidden-sm hidden-xs">
          <div class="left-product-cat">
            <div class="category-heading">
              <h2>Категории</h2>
            </div>
            <div class="category-menu-list">
              <ul>
                {% for category in categories %}
                  <li class="arrow-plus">
                    <a href="{% url 'mainapp:product_by_category' pk=category.pk page=1 %}">
                      {{category.name}}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
