<!-- START MAINMENU-AREA -->
			<div class="mainmenu-area shop-page">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="mainmenu">
								<nav>
									<ul>
										<li><a href="{% url 'index' %}">Home</a>
											<ul>
												<li><a href="{% url 'index' %}">Home Versions 1</a></li>
												<li><a href="{% url 'index' %}">Home Versions 2</a></li>
											</ul>
										</li>
										<li><a href="{% url 'about' %}">About Us</a></li>
										<li class="hot"><a href="{% url 'shop' %}">Bestseller Products</a></li>
										<li class="new"><a href="{% url 'shop-list' %}">New Products</a></li>
										<li><a href="/shop/">Special Products</a></li>
										<li><a href="#">Pages</a>
											<ul>
												<li><a href="{% url 'cart' %}">Cart</a></li>
												<li><a href="{% url 'checkout' %}">Checkout</a></li>
												<li><a href="{% url 'account' %}">Create Account</a></li>
												<li><a href="{% url 'my-account' %}">My Account</a></li>
												<li><a href="{% url 'product-details' %}">Product details</a></li>
												<li><a href="{% url 'shop' %}">Shop Grid View</a></li>
												<li><a href="{% url 'shop-list' %}">Shop List View</a></li>
												<li><a href="{% url 'wishlist' %}">Wish List</a></li>
											</ul>
										</li>
										<li><a href="{% url 'contact' %}">Contact Us</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN-MENU-AREA -->