{% extends 'authapp/base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="paginator">
    {% if page_obj.has_previous %}
      <a href="{% url 'myadmin:categories' %}?page={{ page_obj.previous_page_number }}"><</a>
    {% endif %}
    <span class="current">
      страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
    </span>
    {% if page_obj.has_next %}
      <a href="{% url 'myadmin:categories' %}?page={{ page_obj.next_page_number }}">></a>
    {% endif %}
  </div>
  <table class="table">
    <tr>
      <th>
        Название
      </th>
      <th>
        Изменить
      </th>
      <th>
        Удалить
      </th>
    </tr>
    {% for object in object_list %}
      <tr>
        <td>
          <a href="{% url 'myadmin:category' pk=object.pk %}">{{object.name}}</a>
        </td>
        <td>
          <a href="{% url 'myadmin:update_category' pk=object.pk %}">Изменить</a>
        </td>
        <td>
          <a href="{% url 'myadmin:delete_category' pk=object.pk %}">Удалить</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  <a href="{% url 'myadmin:create_category' %}"> Добавить </a>
{% endblock %}