{% extends "mainapp/base.html" %}
{% load static %}

{% block title %}
	{{title|capfirst}}
{% endblock %}

{% block content %}
	<section class="page-content">
		<div class="container">
			<!-- Start About-Area -->
			<div class="about-area">
				<div class="container">
					<div class="row">
						<div class="col-md-7 col-sm-12 col-xs-12">
							<div class="about-page-cntent">
								<h3>The standard lorem ipsum passage</h3>
							</div>
						</div>
						<div class="col-md-5 col-sm-12 col-xs-12">
							<div class="img-element">
								<img alt="banner1" src="{% static '/img/about/about.jpg' %}">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End About-Area -->
		</section>
{% endblock %}
