{% extends "mainapp/base.html" %}
{% load static %}

{% block title %}
	{{title|capfirst}}
{% endblock %}

{% block content %}
	<section class="page-content">
		<div class="container">
			<div class="row">

				<!-- START LEFT-AREA-->
				<div class="col-md-3 col-sm-3">
					{% include 'inc/inc-slider.html' %}
				</div>
				<!-- END LEFT-AREA-->

				<!-- START RIGHT-AREA (1) -->
				<div class="col-md-9 col-sm-9">
					{% for category in categories %}
						<div class="product-area">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<!-- Start Product-Menu -->
									<div class="product-menu">
										<div class="product-title">
											<h3 class="title-group-2 gfont-1">{{category.name}}</h3>
										</div>
									</div>
								</div>
							</div>
							<div class="clear"></div>
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<div class="product carosel-navigation">
											<div class="tab-content">
												<div class="row">
													<div class="active-product-carosel">
														<!-- Start Single-Product -->
														{% for product in products %}
															{% if product.category.name == category.name %}
																<div class="col-xs-12">
																	<div class="single-product">
																		{% if product.new %}
																			<div class="label_new">
																				<span class="new">new</span>
																			</div>
																		{% endif %}
																		<div class="product-img">
																			<a href="#">
																				<img href="#" class="primary-img" src="{{product.image.url}}" alt="Product">
																			</a>
																		</div>
																		<div class="product-description">
																			<h5><a href="{% url 'mainapp:product' product.pk %}">{{product.name}}</a></h5>
																			<div class="price-box">
																				<span class="price">{{product.price}} руб.</span>
																				{% if product.price != product.old_price %}
																				<span class="old-price">{{product.old_price}}</span>
																				{% endif %}
																			</div>
																		</div>
																	</div>
																</div>
															{% endif %}
														{% endfor %}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					{% endfor %}
				</div>
			</div>
			<!-- END RIGHT-AREA-->
		</div>
	</section>
{% endblock%}

